#menu {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 22%;
  height: 100%;
  padding: 0 15px;
  animation: inMenu 0.5s ease-in-out forwards;
  z-index: 2;
}
@keyframes inMenu {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes outMenu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.menu-header h4 {
  font-size: 30px;
  color: white;
  margin: 0;
}
.menu-header i {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#menu i:hover {
  transform: var(--scaleOne);
}
#menu i:active {
  color: black;
}

.weather-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 10px;
  padding-top: 0;
  margin-top: 20px;
}
.weather-hum {
  color: white;
  font-size: 24px;
}
.weather-name {
  color: var(--whiteGray);
  font-size: 20px;
  margin: 0;
  margin-top: -10px;
}
.weather-temp {
  color: white;
  font-size: 45px;
  font-weight: 600;
  margin: 0;
  margin-left: -10px;
}
.weather-add {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-add i {
  color: skyblue;
  margin-right: 10px;
}
.menu-title {
  color: white;
}
